:root{
  --theme-bg-primary: #e1ecf2;
  --theme-bg-primary-hover: #00000038;
  --color-primary: #F5821F;
  --color-deep-primary: #0287b1;
  --color-white: #FFFFFF;
  --color-dark: #3a3a3a;
  --color-danger: #dc1f1f;
  --color-warning: #f5c124;
  --color-success: #03bb60;
  --color-light: #f8f9fa;
  --color-lightGray: #ececec;
  --color-gray: #808080;
  --color-black: #000000;
}

.theme-heading-text{
  font: Bold 30px/46px Ubuntu;
  letter-spacingew: 0px;
  color: #000000;
  opacity: 1;
}
.theme-sub-heading-text{
  font:  17px/26px Ubuntu;
  letter-spacingew: 0px;
  color: #000000;
  opacity: 1;
}
.theme-text-primary {
  color: var(--color-primary) !important;
}
.theme-text-dark {
  color: var(--color-black) !important;
}
.theme-bg-primary{
  background: var(--color-primary) !important;
}
.theme-btn-primary{
  background: #F5821F;
  box-shadow: 0px 3px 40px #F5821F40;
  border: 2px solid #F5821F;
  border-radius: 32px;
  opacity: 1;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
}
.theme-btn-white{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #F5821F;
  border-radius: 32px;
  padding: 10px 25px;
  font-weight: bold;
  opacity: 1;
}
.theme-sub-heading{
  font: normal normal bold 23px/30px Ubuntu;
  color: #000000;
}

@media (max-width: 768px) {
  .theme-mobile-center-text{
    text-align: center !important;
  }
  .theme-heading-text{
    font: Bold 26px/42px Ubuntu;
  }
  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }
}
